////
/// Container
///
////

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;

    &.blue {
      background-color: $blue;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.red {
      background-color: $red;
    }

    &.background {
      min-height: 100vh;

      & .container__body {
        flex-grow: 1;

        &.none {
          background-color: transparent;
        }

        & .btn-common {
          margin: 0 auto;
          margin-top: auto;

          &.noMargin {
            margin-top: 0;
          }

          &+ .register-step-bar {
            margin-top: 2rem;
          }
        }
      }

      &.nav .container__body {
        padding-bottom: 5rem;
      }
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;
        position: relative;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        padding: 3rem 1rem 2rem 1rem;
    }
  }
  
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  flex-grow: 1;
}

.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}

section {
  display: block;
  margin: auto;
  border: none;
}
