////
/// Container
///
////

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;

    &.blue {
      background-color: $blue;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.red {
      background-color: $red;
    }

    &__body {
        background: #fff;
        position: relative;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        padding: 3rem 1rem 2rem 1rem;
    }
  }
  
.content {
  width: 100%;
  padding: 2rem;
}

.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}

section {
  display: block;
  margin: auto;
  border: none;
}
