// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Main colors
$blue: #013183;
$red: #C54141;
$dark-red: #963737;
$yellow: #FEBA1B;
$dark-yellow: #F19D06;
$white: #FFFFFF;
$light-gray: #969696;
$black: #000;

// Other colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$orange: #f6993f;


/// Functionnal colors
$color-kid : $yellow;
$color-parent: $red;