///
/// Activities Grid
/// 
/// 

.activities-grid {
    width: 100%;
    position: relative;
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(2, calc((100% / 2) - .5rem));
    row-gap: 2rem;
    column-gap: 1rem;
    flex-grow: 1;
    z-index: 0;

    &__activity {
        position: relative;
        display: flex;
        min-height: 3.5rem;

        &__name {
            margin: 0;
            margin-top: auto;
            padding: .6rem;
            padding-top: 1rem;
            padding-right: 2rem;
            font-size: .8rem;
            line-height: 1rem;
            text-align: left;
            color: $white;
        }

        &__img {
            position: absolute;
            top: -1rem;
            right: 7%;
            width: 40%;
        }
    
        &__background {
            position: absolute;
            width: 90%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -20;
            border-radius: 1rem;
            background-color: $yellow;

            &.yellow {
                background-color: $yellow;
            }
            &.blue {
                background-color: $blue;
            }
            &.red {
                background-color: $red;
            }
        }
    }
}


.content .categories-filters .categories-filters__option {
    font-size: .8rem;
    &.filtrer {
        font-size: 1.2rem;
    }
}
.categories-filters {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    overflow-x: auto;
    margin-bottom: 2rem;
    margin-left: -3rem;
    padding-bottom: 1rem;

    &__option {
        width: fit-content;
        margin: auto 0;
        white-space: nowrap;
        margin-left: 3rem;
        padding-right: 3rem;

        &.filtrer {
            padding: .2rem .6rem;
            color: $light-gray;
            background-color: $lighter-gray;
            border-radius: 2rem;
            margin-left: 1.2rem;

            &:last-of-type{
                margin-right: 3rem;
            }
        }

        &.selected {
            background-color: $yellow-opacity5;
            color: $dark-yellow;
        }
    }
}