/// 
///  ACTIVITY STEP
/// 

.activity-step {

    &__img {
        height: 40vh;

        & img {
            height: calc(40vh + 1rem);
            object-fit: cover;
        }
    }

    &__titles {
        margin: auto;
    }

    &__title {
        font-size: 2.5rem;
        
    }
    &__subtitle {
        color: $black;
        text-align: left;
        margin: 0;
        font-size: .8rem;
    }
    &__text {
        padding: 0 3rem;
        color: $black;
        text-align: center;
        font-size: 1rem;
        
    }

    &__next, &__prev {
        position: absolute;
        bottom: -1.5rem;
        padding: 2.5rem 1rem;
        border-radius: 50%;
        background-color: $yellow;
        color: $white;
    }
    &__next {
        right: -1rem;
        padding-right: 2rem;
    }
    &__prev {
        left: -1rem;
        padding-left: 2rem;
    }
}