.btn-common {
    border-radius: 2rem;
    border: none;
    padding: 0.5rem .8rem;
    font-size: 1rem;
    line-height: normal !important;

    &__red {
        &__fill, &__fill:hover, &__fill:not([href]), &__fill:hover:not([href]) {
            background: $red;
            color: $white;
            &:hover{
                background-color: $red;
            }
        }
        &__stroke, &__stroke:hover, &__stroke:not([href]), &__stroke:hover:not([href]) {
            border: 2px solid $red;
            color: $red;
            background: transparent;
        }
    }
    &__blue {
        &__fill, &__fill:hover, &__fill:not([href]), &__fill:hover:not([href]) {
            background: $blue;
            color: $white;
            &:hover{
                background-color: $blue;
            }
        }
        &__stroke, &__stroke:hover, &__stroke:not([href]), &__stroke:hover:not([href]) {
            border: 2px solid $blue;
            color: $blue;
            background: transparent;
            &:hover{
                background-color: transparent;
            }
        }
    }
    &__yellow {
        &__fill, &__fill:hover, &__fill:not([href]), &__fill:hover:not([href]) {
            background: $yellow;
            color: $white;
            &:hover{
                background-color: $blue;
            }
        }
        &__stroke, &__stroke:hover, &__stroke:not([href]), &__stroke:hover:not([href]) {
            border: 2px solid $yellow;
            color: $yellow;
            background: transparent;
            &:hover{
                background-color: transparent;
            }
        }
    }
    &__black {
        &__fill, &__fill:hover, &__fill:not([href]), &__fill:hover:not([href]) {
            background: $black;
            color: $white;
            &:hover{
                background-color: inherit;
            }
        }
        &__stroke, &__stroke:hover, &__stroke:not([href]), &__stroke:hover:not([href]) {
            border: 2px solid $black;
            color: $black;
            background: transparent;
            &:hover{
                background-color: inherit;
            }
        }
    }
    &__white {
        &__fill, &__fill:hover, &__fill:not([href]), &__fill:hover:not([href]) {
            background: $white;
            color: inherit;
        }
        &__stroke, &__stroke:hover, &__stroke:not([href]), &__stroke:hover:not([href]) {
            border: 2px solid $white;
            color: $white;
            background: transparent;
        }
    }
}