.btn-primary {
    border-radius: 2rem;
    border: none;
    padding: 0.5rem .8rem;
    font-size: 1rem;
    line-height: normal !important;

    &__red {
        &__fill {
            background: $red;
            color: $white;
        }
        &__stroke {
            border: 2px solid $red;
            color: $red;
            background: transparent;
        }
    }
    &__blue {
        &__fill {
            background: $blue;
            color: $white;
        }
        &__stroke {
            border: 2px solid $blue;
            color: $blue;
            background: transparent;
        }
    }
    &__yellow {
        &__fill {
            background: $yellow;
            color: $white;
        }
        &__stroke {
            border: 2px solid $yellow;
            color: $yellow;
            background: transparent;
        }
    }
    &__black {
        &__fill {
            background: $black;
            color: $white;
        }
        &__stroke {
            border: 2px solid $black;
            color: $black;
            background: transparent;
        }
    }
    &__white {
        &__fill {
            background: $white;
            color: inherit;
        }
        &__stroke {
            border: 2px solid $white;
            color: $white;
            background: transparent;
        }
    }
}