.page-header {
    background: $red;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px 10px 20px;

    &.g2 {
        display: grid;
        grid-template-columns: repeat(2, calc(100% / 2));
    }

    &__text {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    &__title {
        margin: 0;
        margin-top: auto;
        font-size: 2rem;
        line-height: 2.1rem;
    }

    &__subtitle {
        font-size: 1.2rem;
    }

    &__background {
        align-self: stretch;
        position: relative;
        padding-right: 2rem;
        z-index: 200;
        transform: translateY(50%);
    }

    &__img {
        position: absolute;
        right: 0; 
        left: 0; 
        bottom: 0;
        width: 100%;
        margin: auto;
        height: auto;
    }
}