/// 
/// HEADER PARENT PROFIL
/// 


.page-header-parent-profil {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: $red;
    color: $white;
    display: flex;
    padding: 1rem 2rem;
    padding-top: 1rem;

    &__text {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
    &__title {
        font-size: 1.7rem;
        text-align: left;
        margin-top: auto;
    }
    &__subtitle {
        font-size: 1rem;
        text-align: left;
        margin-bottom: auto;
    }

    &__background {
        width: 30%;
        border-radius: 50%;
        background-color: $red;
        box-shadow: 0 .2rem .5rem $black-shadow;
    }
    
    & .container__logout {
        position: absolute;
        width: fit-content;
        top: 1rem;
        right: 1rem;
        display: flex;
        text-align: right;
        font-size: 1.5rem;
      }
}