.page-header {
    background: $red;
    color: $white;
    display: flex;
    padding: 0 10px 10px 20px;

    &.g2 {
        display: grid;
        grid-template-columns: repeat(2, calc(100% / 2));

        & .page-header__text {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;
        }
    
        & .page-header__title {
            margin: 0;
            margin-top: auto;
            font-size: 2rem;
            line-height: 2.1rem;
        }
    
        & .page-header__subtitle {
            font-size: 1.2rem;
        }
    
        & .page-header__background {
            width: 100%;
            margin: 0;
            align-self: stretch;
            position: relative;
            padding-right: 2rem;
            z-index: 200;
            transform: translateY(50%);
        }
    
        & .page-header__img {
            position: absolute;
            right: 0; 
            left: 0; 
            bottom: 0;
            width: 100%;
            margin: auto;
            height: auto;
        }
    }

    &__background {
        width: 50%;
        margin: 0 auto;
        align-self: stretch;
        position: relative;
        padding-right: 2rem;
        z-index: 200;
        transform: translateY(50%);

        &.right {
            margin: 0;
            margin-left: auto;
        }
        &.left {
            margin: 0;
            margin-right: auto;
        }
    }

    &__img {
        position: absolute;
        right: 0; 
        left: 0; 
        bottom: 0;
        width: 100%;
        margin: auto;
        height: auto;
    }
}