.page-header-kid {
    color: $white;
    display: flex;
    padding: 0 10px 10px 20px;

    &.g2 {
        display: grid;
        grid-template-columns: 35% 65%;

        & .page-header-kid__text {
            padding-left: 1rem;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;
        }
    
        & .page-header-kid__title {
            margin: 0;
            font-size: 2rem;
            line-height: 2.1rem;
            text-align: left;
        }
    
        & .page-header-kid__subtitle {
            margin-top: auto;
            font-size: 1.2rem;
            text-align: left;
            color: $black;
        }
    
        & .page-header-kid__background {
            width: 100%;
            margin: 0;
            align-self: stretch;
            position: relative;
            padding-right: 0;
            z-index: 200;
            transform: translateY(50%);
        }
    
        & .page-header-kid__img {
            position: absolute;
            right: 0; 
            left: 0; 
            bottom: 1rem;
            width: 100%;
            margin: auto;
            height: auto;
            z-index: 200;
        }
    }
}

.page-header-parent {
    color: $white;
    display: flex;
    padding: 1rem;
    padding-top: 2rem;

    &__text {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
    }

    & .form-auth {
        &__input-div {
            border-color: $white;

            & > div{

                & > input{
                    color: $white;
                }
            
                & .form__label{
                    color: $white;
                    background-color: $red;
                }
            }

            &:before, &:after {
                background-color: $white;        
            }
            &.focus {
                & > .i > i{
                    color: $white;
                }
            }
        }
    }
}


.page-header-parent-profil {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: $red;
    color: $white;
    display: flex;
    padding: 1rem 2rem;
    padding-top: 1rem;

    &__text {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
    &__title {
        font-size: 1.7rem;
        text-align: left;
        margin-top: auto;
    }
    &__subtitle {
        font-size: 1rem;
        text-align: left;
        margin-bottom: auto;
    }

    &__background {
        width: 30%;
        border-radius: 50%;
        background-color: $red;
        box-shadow: 0 .2rem .5rem $black-shadow;
    }
    
    & .container__logout {
        position: absolute;
        width: fit-content;
        top: 1rem;
        right: 1rem;
        display: flex;
        text-align: right;
        font-size: 1.5rem;
      }
}